<li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
      <i class="fa-brands fa-product-hunt"></i>&nbsp;Productos
    </button>
    <div class="collapse show" id="home-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="/productos/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        <li><a href="/productos/ver_todos" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
      <i class="fa-solid fa-industry"></i>&nbsp;Proveedores
    </button>
    <div class="collapse" id="dashboard-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="/proveedores/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        <li><a href="/proveedores/ver_todos" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
      <i class="fa-solid fa-layer-group"></i>&nbsp;Categorias
    </button>
    <div class="collapse" id="orders-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="/categorias/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        <li><a href="/categorias/ver_todos" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#joni-collapse" aria-expanded="false">
      <i class="fa-solid fa-signal"></i>&nbsp;Estados
    </button>
    <div class="collapse" id="joni-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="/estados/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        <li><a href="/estados/ver_todos" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#almacen-collapse" aria-expanded="false">
      <i class="fa-solid fa-store"></i></i>&nbsp;Almacenes
    </button>
    <div class="collapse" id="almacen-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="/almacen/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        <li><a href="/almacen/ver_todos" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
      </ul>
    </div>
  </li>
  <li class="mb-1">
    <button class="btn d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#ingreso-collapse" aria-expanded="false">
      <i class="fa-solid fa-arrow-up-from-bracket"></i>&nbsp;Ingresos
    </button>
    <div class="collapse" id="ingreso-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="/ingresos/nuevo" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Nuevo</a></li>
        <li><a href="/ingresos/ver_todos" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Ver Todos</a></li>
      </ul>
    </div>
  </li>
  <li class="border-top my-3"></li>
  <li class="mb-1">
    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
      Account
    </button>
    <div class="collapse" id="account-collapse">
      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">New...</a></li>
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Profile</a></li>
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
      </ul>
    </div>
  </li>
</ul>
</div>